<div class="wrap">

	<div class="hero-block">
		<ul class="hero-menu">
			<li><%= link_to 'About this app', about_path %></li>
		</ul>
		<%= image_tag('cat_default.png', :class => 'animated tada') %>
	</div>
	<h1 class="hero">A simple app to advise you with calorie suggestions.</h1>
</div>