<div class="wrap">

	<div class="hero-block">
		<ul class="hero-menu">
			<li><%= link_to 'Home', root_path %></li>
			<li>About</li>
			<li><%= link_to 'Sign in', new_user_session_path %></li>
			<li><%= link_to 'Sign up', new_user_registration_path %></li>
		</ul>
		<%= image_tag('cat_default.png', :class => 'animated tada') %>
	</div>
	<h1 class="hero">A simple app to advise you with calorie suggestions.</h1>
</div>